body {
    margin-top: 35px;
    width: 1280px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}
#selector
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #555;
  color: white;

}

#pdf-container {
      width: 50%;
      height: 100%;
      border: 1px solid #ccc;

    }

.editable-field {
  position: absolute;
  border: 1px solid #000;
  padding: 5px;
  background-color: #fff;
  font-family: Arial, Verdana, 'Times New Roman', Tahoma, sans-serif,'Courier New',;
  resize:both;
  overflow:hidden
}
 #toolbox { 
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 25%;
  background: #eee;
  margin-top: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  display: inline-block;
 }

 #toolbox-field{
  width: 100px;
  height: 12px;
  border: 1px solid #ccc;
  background: #eee;


 }

#fontControls{
  margin-top:10px;
}