body {
    margin-top: 35px;
    width: 1280px;
}
ul {
  /*relative py-3 px-2 lg:px-3 xl:px-4 flex items-center justify-between w-full m-0 drop-shadow-md dark:bg-gray-900 bg-white z-50*/
  position: relative;
  font-size: 1.125rem;
  line-height: 1.75rem;
  justify-content: space-between;
  width: 100%;
  bottom:0;
  --tw-drop-shadow: drop-shadow(0 4px 3px rgba(0,0,0,.07)) drop-shadow(0 2px 2px rgba(0,0,0,.06));
  z-index:50;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}
#selector
{
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 50;
  width: 125px;
  background: #eee;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;

}

#pdf-container {
 /*pdfcontainer that shows 100% of contents*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: 90%;  
  border: 3px solid #ccc;
  overflow: auto;
  position: relative;
  z-index: 0;
  background-color: #fff;
    }

#canvas [id="editable-field"] {
  position: absolute;
  border: 1px solid #000;
  background-color: #fff;
  font-family: Arial, Verdana, 'Times New Roman', Tahoma, sans-serif,'Courier New',;
  resize:both;
  overflow:visible;

}

 #toolbox { 
  position: fixed;
  top: 50%;
  left: 90%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    z-index: 25;
    width: 125px;
    /* padding: 20px; */
    border: 1px solid #ccc;
    /* height: 25%; */
    background: #eee;
    /* margin-top: 100px; */
    padding: 10px;
    /* display: inline-block; */
 }

 #toolbox-field{
  width: 100px;
  height: 12px;
  border: 1px solid #ccc;
  background: #eee;
 }

#fontControls{
  margin-top:10px;
}

#pdfframe {
 /*make iframe a display below canvas*/
  display: block;
  z-index: -1;
  left: 0;
  top: 0;
}
span.font-control.fa.fa-edit{
  /*keep on top right margin*/
  margin-left: 90%;

  font-size: 18px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 80%;
  left: 86%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
    z-index: 26;
    width: 140px;
    /* padding: 20px; */
    border: 1px solid #ccc;
    /* height: 25%; */
    background: #eee;
    /* margin-top: 100px; */
    /* display: inline-block; */
    scale:1.5;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}