body {
    margin-top: 35px;
    width: 1280px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}
#selector
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 125px;
  background: #eee;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;

}

#pdf-container {
 /*pdfcontainer that shows 100% of contents*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;  
  border: 3px solid #ccc;
  overflow: auto;
  position: relative;
  z-index: 0;
  background-color: #fff;
    }

#canvas > * {
  position: absolute;
  border: 1px solid #000;
  background-color: #fff;
  font-family: Arial, Verdana, 'Times New Roman', Tahoma, sans-serif,'Courier New',;
  resize:both;
  overflow:visible;

}

 #toolbox { 
  position: fixed;
  top: 0;
  right: 50px;
  width: 170px;
  height: 25%;
  background: #eee;
  margin-top: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  display: inline-block;
 }

 #toolbox-field{
  width: 100px;
  height: 12px;
  border: 1px solid #ccc;
  background: #eee;
 }

#fontControls{
  margin-top:10px;
}

#pdfframe {
 /*make iframe a display below canvas*/
  display: block;
  z-index: -1;
  left: 0;
  top: 0;
}
span.font-control.fa.fa-edit{
  /*keep on top right margin*/
  margin-left: 90%;

  font-size: 18px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}